<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Cup Competitions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Not Everyone Gets A Trophy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/live">Live Scores</a>
        </div>
      </div>
    </nav>
    <div class="container" >
      <h2>Cup Competitions</h2>
      <div class="container">
        <h4>Rules</h4>
        <ul>
          <li>European Cups (Champions League and Europa League) will run from GW23 to GW34</li>
          <li>The team scoring the most FPL points (transfer costs DO NOT get deducted from your weekly score as with LMS) each match will be awarded the win</li>
          <li>In the group stages, managers will be awarded 3 points for a win and 1 point for a draw just like the PL</li>
          <li>Group winners will get a bye into second round of the Champions League (CL) knockout stages </li>
          <li>Second place in the group plus one Wildcard team will qualify for the first round of the CL knockout stages </li>
          <li>All other teams qualify for the Europa League (EL) </li>
          <li>In the event of a tie on points in the league positions, the following will be used as tiebreakers:
            <ul>
              <li> FPL points difference in the group games </li>
              <li> Lowest league position as at that point in time </li>
            </ul>
          </li>
          <li>Wildcard entry to the CL and EL seedings are determined by best record (Win %, FPL points difference, lowest league position as at that point in time)</li>
          <li>Knock-out stages will be played over 2 legs, the manager with the highest aggregate FPL points score over the two weeks will advance</li>
          <li>In the event of a tie in the knockout stages (highly unlikely), the same tiebreakers as LMS will be used – captain score (combined across both weeks), then VC score (combined), then lowest league position at that point in time </li>
          <li>The final will be just one leg played in GW34, with the team with the highest FPL points in that week declared the winner.  In the event of a tie, highest captain score, then VC score, then lowest league position will be used as a tiebreaker </li>
          <li>Use of any chip in any week is allowed and is recommended as a strategy to do well in the cup if that is your goal </li>
          <li>The winner of the CL will receive $300 </li>
          <li>The winner of the EL will receive $150</li>
        </ul>
      </div>

    </div>

  </body>
</html>
