{% extends "/names/z2_base.html" %}

{% block title %}Name Pickle{% endblock %}

{% block content %}

    <div class="container">

        <div class="row m-1"><h3>{{title}}</h3></div>

        <div class="row justify-content-md-center text-center my-1 p-2">
            <div class="col-md-auto">
                <a href="/names/compare/all" class="btn btn-outline-dark btn-sm mx-1 my-1" role="button"
                    aria-disabled="true">All</a>
            </div>
            <div class="col-md-auto">
                <a href="/names/compare/full" class="btn btn-outline-dark btn-sm mx-1 my-1" role="button"
                    aria-disabled="true">Full Matches</a>
            </div>
            <div class="col-md-auto">
                <a href="/names/compare/partial" class="btn btn-outline-dark btn-sm mx-1 my-1" role="button"
                    aria-disabled="true">Partial Matches</a>
            </div>
            <div class="col-md-auto">
                <a href="/names/compare/veto_u" class="btn btn-outline-dark btn-sm mx-1 my-1" role="button"
                    aria-disabled="true">Vetoed by You</a>
            </div>
            <div class="col-md-auto">
                <a href="/names/compare/veto_p" class="btn btn-outline-dark btn-sm mx-1 my-1" role="button"
                    aria-disabled="true">Vetoed by Partner</a>
            </div>
        </div>


        <div class="table-fixed text-nowrap">
            <table class="table table-sm text-xsmall table-hover sortable ;" >
                
                <thead class="thead-light text-center">
                    <td class="align-middle">2020 Ranking</td>
                    <td class="align-middle">Name</td>
                    <td class="align-middle">Your Rating</td>
                    <td class="align-middle">Partner's Rating</td>
                </thead>
                <tbody class="text-center align-middle">
                    {% for element in compare %}
                    <tr>
                      <td class="align-middle">{{element[0]}}</td>
                      <td class="align-middle"><a href="/names/{{element[1]}}" class="text-dark">{{element[1]}}</a></td>
                      <td class="align-middle">{{element[2]}}</td>
                      <td class="align-middle">{{element[3]}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            {{tsql}}
        </div>
    </div>


{% endblock %}
