{% extends "/names/z2_base.html" %}

{% block title %}Name Pickle{% endblock %}

{% block content %}

<div class="container mt-1">
    <div class="row">
        <h3>Welcome to the Name Pickler</h3>
    </div>
    <div class="row">
        <p>First and most importanly... congrats on needing a name!</p>
        <p>My oldest son was about three and a half when we found out that he was going to have a little sister and has
            since insisted that her name be Pickle. I'm not sure what his process was but I figured there should be an
            option out there for people that need a name and aren't eating lunch at the same time...</p>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="/login" class="btn btn-outline-dark btn-md mx-1" role="button" style="width: 150px">Login</a>
            <br><br>
        </div>
    </div>
</div>

{% endblock %}