{% extends "/names/z2_base.html" %}

{% block title %}Name Pickle{% endblock %}

{% block content %}

    <div class="container mt-2">
        <div class="row"><h3>Welcome to Name Pickle</h3></div>
        <div><p>First and most importanly... congrats on needing a name!</p></div>
        <div><p>My oldest son was about three and a half when we found out that he was going to have a little sister and has since insisted that her name be Pickle. I'm not sure what his process was but I figured there should be an option out there for people that need a name and aren't eating lunch at the same time...</p></div>   
        <div><p><br></p></div>
        <div class="row">
            <div class="col text-center">
                <a href="/login" class="btn btn-outline-dark btn-md mx-1" role="button"  style="width: 150px">Login</a>
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a href="https://fantasy.premierleague.com/leagues/6407/standings/c" class="btn btn-outline-dark btn-md mx-1" role="button"  style="width: 150px">Signup</a>
                <br><br>
            </div>
        </div>
    </div>

{% endblock %}
