{% extends "/names/z2_base.html" %}

{% block title %}Pickle - Login{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1>{{user}}</h1>
      </div>
    </div>

    <div class="row mt-3 d-flex justify-content-center text-center">
      <div class="col-xs-5 col-lg-5">
        <a href="/name/random_name" class="btn btn-outline-dark btn-block" role="button">Rate Names</a>
      </div>
    </div>

    <div class="row mt-3 d-flex justify-content-center text-center">
      <div class="col-xs-5 col-lg-5">
        <a href="#" class="btn btn-outline-dark btn-block" role="button">Search Name</a>
      </div>
    </div>

    <div class="row mt-3 d-flex justify-content-center text-center">
      <div class="col-xs-5 col-lg-5">
        <a href="/profile/{{user}}/list/all" class="btn btn-outline-dark btn-block" role="button">See Results</a>
      </div>
    </div>

    <div class="row mt-3 d-flex justify-content-center text-center">
      <div class="col-xs-5 col-lg-5">
        <a href="/logout" class="btn btn-outline-dark btn-block" role="button">Logout</a>
      </div>
    </div>


  </div>
{% endblock %}
