{% extends "/names/z2_base.html" %}

{% block title %}Name Pickle{% endblock %}

{% block content %}

    <div class="container mt-2">
        <h5>Results for {{user}}</h5>
        <div class="table-fixed text-nowrap">
            <table class="table table-sm text-xsmall table-hover sortable ;" >
                
                <thead class="thead-light text-center header-fixed">
                    <td class="align-middle">Id</td>
                    <td class="align-middle">Name</td>
                    <td class="align-middle">Rating</td>
                </thead>
                <tbody class="text-center align-middle table-fixed">
                    {% for fa in user_ratings %}
                        <tr>
                            <tr>
                                {% for td in fa %}
                                    <td class="align-left">{{ td }}</td>
                                {% endfor %}
                            </tr>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
