.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: gill sans, sans-sans-serif;
}

body {
  background-color: #fcfcfc;
}

nav {
  font-family: gill sans, sans-sans-serif;

}

.container-fluid {
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 500px;
}
