.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #fcfcfc;
}

.container-fluid {
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 500px;
}
