{% extends "base.html" %}

{% block title %}Cup Table{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row"><h2>Group Stage</h2></div>    
</div>

<div class="container mt-2">
    <h5>Group A</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Rank</td>
                <td class="align-middle">Team</td>
                <td class="align-middle">Played</td>
                <td class="align-middle">W-L-D</td>
                <td class="align-middle">For</td>
                <td class="align-middle">Against</td>
                <td class="align-middle">FPL +/-</td>
                <td class="align-middle">Pts</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for t in table_a %}
                    <tr>
                        <td class="align-middle">{{t[1]}}</td>
                        <td class="align-middle">{{t[3]}}</td>
                        <td class="align-middle">{{t[4]}}</td>
                        <td class="align-middle">{{t[5]}}</td>
                        <td class="align-middle">{{t[6]}}</td>
                        <td class="align-middle">{{t[7]}}</td>
                        <td class="align-middle">{{t[8]}}</td>
                        <td class="align-middle">{{t[9]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-2">
    <h5>Group B</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Rank</td>
                <td class="align-middle">Team</td>
                <td class="align-middle">Played</td>
                <td class="align-middle">W-L-D</td>
                <td class="align-middle">For</td>
                <td class="align-middle">Against</td>
                <td class="align-middle">FPL +/-</td>
                <td class="align-middle">Pts</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for t in table_b %}
                    <tr>
                        <td class="align-middle">{{t[1]}}</td>
                        <td class="align-middle">{{t[3]}}</td>
                        <td class="align-middle">{{t[4]}}</td>
                        <td class="align-middle">{{t[5]}}</td>
                        <td class="align-middle">{{t[6]}}</td>
                        <td class="align-middle">{{t[7]}}</td>
                        <td class="align-middle">{{t[8]}}</td>
                        <td class="align-middle">{{t[9]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-2">
    <h5>Group C</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Rank</td>
                <td class="align-middle">Team</td>
                <td class="align-middle">Played</td>
                <td class="align-middle">W-L-D</td>
                <td class="align-middle">For</td>
                <td class="align-middle">Against</td>
                <td class="align-middle">FPL +/-</td>
                <td class="align-middle">Pts</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for t in table_c %}
                    <tr>
                        <td class="align-middle">{{t[1]}}</td>
                        <td class="align-middle">{{t[3]}}</td>
                        <td class="align-middle">{{t[4]}}</td>
                        <td class="align-middle">{{t[5]}}</td>
                        <td class="align-middle">{{t[6]}}</td>
                        <td class="align-middle">{{t[7]}}</td>
                        <td class="align-middle">{{t[8]}}</td>
                        <td class="align-middle">{{t[9]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-2">
    <h5>Group D</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Rank</td>
                <td class="align-middle">Team</td>
                <td class="align-middle">Played</td>
                <td class="align-middle">W-L-D</td>
                <td class="align-middle">For</td>
                <td class="align-middle">Against</td>
                <td class="align-middle">FPL +/-</td>
                <td class="align-middle">Pts</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for t in table_d %}
                    <tr>
                        <td class="align-middle">{{t[1]}}</td>
                        <td class="align-middle">{{t[3]}}</td>
                        <td class="align-middle">{{t[4]}}</td>
                        <td class="align-middle">{{t[5]}}</td>
                        <td class="align-middle">{{t[6]}}</td>
                        <td class="align-middle">{{t[7]}}</td>
                        <td class="align-middle">{{t[8]}}</td>
                        <td class="align-middle">{{t[9]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-2">
    <h5>Group E</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Rank</td>
                <td class="align-middle">Team</td>
                <td class="align-middle">Played</td>
                <td class="align-middle">W-D-L</td>
                <td class="align-middle">For</td>
                <td class="align-middle">Against</td>
                <td class="align-middle">FPL +/-</td>
                <td class="align-middle">Pts</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for t in table_e %}
                    <tr>
                        <td class="align-middle">{{t[1]}}</td>
                        <td class="align-middle">{{t[3]}}</td>
                        <td class="align-middle">{{t[4]}}</td>
                        <td class="align-middle">{{t[5]}}</td>
                        <td class="align-middle">{{t[6]}}</td>
                        <td class="align-middle">{{t[7]}}</td>
                        <td class="align-middle">{{t[8]}}</td>
                        <td class="align-middle">{{t[9]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-2">
    <div class="row"><h2>Knockout Seeding</h2></div>    
</div>

<div class="container mt-2">
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Seed</td>
                <td class="align-middle">Group</td>
                <td class="align-middle">Name</td>
                <td class="align-middle">Group Pos</td>
                <td class="align-middle">Win Pct</td>
                <td class="align-middle">League Pos</td>
                <td class="align-middle">Leauge</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for seed in seeds %}
                    <tr>
                        <td class="align-middle">{{seed[1]}}</td>
                        <td class="align-middle">{{seed[2]}}</td>
                        <td class="align-middle">{{seed[3]}}</td>
                        <td class="align-middle">{{seed[4]}}</td>
                        <td class="align-middle">{{seed[5]}}</td>
                        <td class="align-middle">{{seed[6]}}</td>
                        <td class="align-middle">{{seed[7]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="container mt-2">
    <div class="row"><h2>Rules</h2></div>    

    <ul>
        <li>European Cups (Champions League and Europa League) will run from GW23 to GW34</li>
        <li>The team scoring the most FPL points (transfer costs DO NOT get deducted from your weekly score as with LMS) each match will be awarded the win</li>
        <li>In the group stages, managers will be awarded 3 points for a win and 1 point for a draw just like the PL</li>
        <li>Group winners will get a bye into second round of the Champions League (CL) knockout stages </li>
        <li>Second place in the group plus one Wildcard team will qualify for the first round of the CL knockout stages </li>
        <li>All other teams qualify for the Europa League (EL) </li>
        <li>In the event of a tie on points in the league positions, the following will be used as tiebreakers:
          <ul>
            <li> FPL points difference in the group games </li>
            <li> Lowest league position as at that point in time </li>
          </ul>
        </li>
        <li>Wildcard entry to the CL and EL seedings are determined by best record (Win %, FPL points difference, lowest league position as at that point in time)</li>
        <li>Knock-out stages will be played over 2 legs, the manager with the highest aggregate FPL points score over the two weeks will advance</li>
        <li>In the event of a tie in the knockout stages (highly unlikely), the same tiebreakers as LMS will be used – captain score (combined across both weeks), then VC score (combined), then lowest league position at that point in time </li>
        <li>The final will be just one leg played in GW34, with the team with the highest FPL points in that week declared the winner.  In the event of a tie, highest captain score, then VC score, then lowest league position will be used as a tiebreaker </li>
        <li>Use of any chip in any week is allowed and is recommended as a strategy to do well in the cup if that is your goal </li>
        <li>The winner of the CL will receive $300 </li>
        <li>The winner of the EL will receive $150</li>
      </ul>

</div>

{% endblock %}
