{% extends "base.html" %}

{% block title %}Cup Table{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row"><h2>Group Stage</h2></div>    
</div>

<div class="container mt-2">
    <h5>Group A</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Rank</td>
                <td class="align-middle">Team</td>
                <td class="align-middle">Played</td>
                <td class="align-middle">W-L-D</td>
                <td class="align-middle">For</td>
                <td class="align-middle">Against</td>
                <td class="align-middle">FPL +/-</td>
                <td class="align-middle">Pts</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for t in table_a %}
                    <tr>
                        <td class="align-middle">{{t[1]}}</td>
                        <td class="align-middle">{{t[3]}}</td>
                        <td class="align-middle">{{t[4]}}</td>
                        <td class="align-middle">{{t[5]}}</td>
                        <td class="align-middle">{{t[6]}}</td>
                        <td class="align-middle">{{t[7]}}</td>
                        <td class="align-middle">{{t[8]}}</td>
                        <td class="align-middle">{{t[9]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-2">
    <h5>Group B</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Rank</td>
                <td class="align-middle">Team</td>
                <td class="align-middle">Played</td>
                <td class="align-middle">W-L-D</td>
                <td class="align-middle">For</td>
                <td class="align-middle">Against</td>
                <td class="align-middle">FPL +/-</td>
                <td class="align-middle">Pts</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for t in table_b %}
                    <tr>
                        <td class="align-middle">{{t[1]}}</td>
                        <td class="align-middle">{{t[3]}}</td>
                        <td class="align-middle">{{t[4]}}</td>
                        <td class="align-middle">{{t[5]}}</td>
                        <td class="align-middle">{{t[6]}}</td>
                        <td class="align-middle">{{t[7]}}</td>
                        <td class="align-middle">{{t[8]}}</td>
                        <td class="align-middle">{{t[9]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-2">
    <h5>Group C</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Rank</td>
                <td class="align-middle">Team</td>
                <td class="align-middle">Played</td>
                <td class="align-middle">W-L-D</td>
                <td class="align-middle">For</td>
                <td class="align-middle">Against</td>
                <td class="align-middle">FPL +/-</td>
                <td class="align-middle">Pts</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for t in table_c %}
                    <tr>
                        <td class="align-middle">{{t[1]}}</td>
                        <td class="align-middle">{{t[3]}}</td>
                        <td class="align-middle">{{t[4]}}</td>
                        <td class="align-middle">{{t[5]}}</td>
                        <td class="align-middle">{{t[6]}}</td>
                        <td class="align-middle">{{t[7]}}</td>
                        <td class="align-middle">{{t[8]}}</td>
                        <td class="align-middle">{{t[9]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-2">
    <h5>Group D</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Rank</td>
                <td class="align-middle">Team</td>
                <td class="align-middle">Played</td>
                <td class="align-middle">W-L-D</td>
                <td class="align-middle">For</td>
                <td class="align-middle">Against</td>
                <td class="align-middle">FPL +/-</td>
                <td class="align-middle">Pts</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for t in table_d %}
                    <tr>
                        <td class="align-middle">{{t[1]}}</td>
                        <td class="align-middle">{{t[3]}}</td>
                        <td class="align-middle">{{t[4]}}</td>
                        <td class="align-middle">{{t[5]}}</td>
                        <td class="align-middle">{{t[6]}}</td>
                        <td class="align-middle">{{t[7]}}</td>
                        <td class="align-middle">{{t[8]}}</td>
                        <td class="align-middle">{{t[9]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-2">
    <h5>Group E</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Rank</td>
                <td class="align-middle">Team</td>
                <td class="align-middle">Played</td>
                <td class="align-middle">W-L-D</td>
                <td class="align-middle">For</td>
                <td class="align-middle">Against</td>
                <td class="align-middle">FPL +/-</td>
                <td class="align-middle">Pts</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for t in table_e %}
                    <tr>
                        <td class="align-middle">{{t[1]}}</td>
                        <td class="align-middle">{{t[3]}}</td>
                        <td class="align-middle">{{t[4]}}</td>
                        <td class="align-middle">{{t[5]}}</td>
                        <td class="align-middle">{{t[6]}}</td>
                        <td class="align-middle">{{t[7]}}</td>
                        <td class="align-middle">{{t[8]}}</td>
                        <td class="align-middle">{{t[9]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-2">
    <div class="row"><h2>Knockout Seeding</h2></div>    
</div>

<div class="container mt-2">
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            
            <thead class="thead-light text-center">
                <td class="align-middle">Seed</td>
                <td class="align-middle">Group</td>
                <td class="align-middle">Name</td>
                <td class="align-middle">Group Pos</td>
                <td class="align-middle">Win Pct</td>
                <td class="align-middle">League Pos</td>
                <td class="align-middle">Leauge</td>
            </thead>
            <tbody class="text-center align-middle">
                {% for seed in seeds %}
                    <tr>
                        <td class="align-middle">{{seed[1]}}</td>
                        <td class="align-middle">{{seed[2]}}</td>
                        <td class="align-middle">{{seed[3]}}</td>
                        <td class="align-middle">{{seed[4]}}</td>
                        <td class="align-middle">{{seed[5]}}</td>
                        <td class="align-middle">{{seed[6]}}</td>
                        <td class="align-middle">{{seed[7]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
