{% extends "base.html" %}

{% block title %}League Cup{% endblock %}

{% block content %}


<div class="container mt-2" >

  {% for cup in cups %}
    {% if cup[4] == cup_matchup_id%}
      <div class="container2">
        <div class="row">
          <div class="col text-center">
            <h4>{{cup[1]}}</h4>
            <h5>{{cup[2]}} - {{cup[3]}}</h5>
          </div>
        </div>
    {% endif %}
  {% endfor %}


</div>

<div class="table-responsive text-nowrap">
  <table class="table table-sm text-xsmall table-hover sortable ;" >
    <thead class="thead-light text-center">
      <td class="align-middle">Player</td>
      <td class="align-middle">POS</td>
      <td class="align-middle">Team</td>
      <td class="align-middle">Score</td>
      <td class="align-middle">Mins (pl/gm)</td>
      <td class="align-middle">G</td>
      <td class="align-middle">A</td>
      <td class="align-middle">CS</td>
      <td class="align-middle">GC</td>
      <td class="align-middle">OG</td>
      <td class="align-middle">PS</td>
      <td class="align-middle">PM</td>
      <td class="align-middle">YC</td>
      <td class="align-middle">RC</td>
      <td class="align-middle">SV</td>
      <td class="align-middle">Bonus (Conf)</td>
      <td class="align-middle">Bonus (Proj)</td>
      <td class="align-middle">BPS</td>
      <td class="align-middle">Current Cost</td>
    </thead>
    <tbody class="text-center align-middle">
      {% for element in elements %}
      <tr>
        <td class="align-middle"><a href="/player/{{element[1]}}" class="text-dark">{{element[2]}}</a></td>
        <td class="align-middle">{{element[3]}}</td>
        <td class="align-middle">{{element[6]}}</td>
        <td class="align-middle">{{element[8]}}</td>
        <td class="align-middle">{{element[9]}}/{{element[21]}}</td>
        <td class="align-middle">{{element[10]}}</td>
        <td class="align-middle">{{element[11]}}</td>
        <td class="align-middle">{{element[12]}}</td>
        <td class="align-middle">{{element[13]}}</td>
        <td class="align-middle">{{element[14]}}</td>
        <td class="align-middle">{{element[15]}}</td>
        <td class="align-middle">{{element[16]}}</td>
        <td class="align-middle">{{element[17]}}</td>
        <td class="align-middle">{{element[18]}}</td>
        <td class="align-middle">{{element[19]}}</td>
        <td class="align-middle">{{element[20]}}</td>
        <td class="align-middle">{{element[23]}}</td>
        <td class="align-middle">{{element[22]}}</td>
        <td class="align-middle">{{element[5]}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<p><i>*<b>Points</b> striaght FPL points for each player, <b>Score</b> accounts for lineup adjustments like captains, benches, and subs<br>
   **<b>Importance</b> compares your ownership level (0% bench, 100% in lineup, 200% captian...) to the league average </i></p>
</div>

<div class="container mt-2" >
  <h2>League Cup</h2>
  <div class="table-responsive text-nowrap">
    <table class="table table-sm text-xsmall table-hover sortable ;" >
      <thead class="thead-light text-center align-middle">
        <td class="align-middle">Group</td>
        <td class="align-middle">Match</td>
        <td class="align-middle">Team 1 Score</td>
        <td class="align-middle">Team 2 Score</td>
      </thead>
      <tbody class="text-center align-middle">
        {% for cup2 in cups2 %}
        <tr>
          <td class="align-middle">{{cup2[0]}}</td>
          <td class="align-middle"><a href="/cup_matchup/{{cup2[4]}}" class="text-dark">{{cup2[1]}}</a></td>
          <td class="align-middle">{{cup2[2]}}</td>
          <td class="align-middle">{{cup2[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
