<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>No Trophy Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/static/sorttable.js" type="text/javascript"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Not Everyone Gets A Trophy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

        </div>
      </div>
    </nav>

    <div class="container mt-2">
      {% for header in headers %}
        <h3>{{header[2]}} {{header[3]}} ({{header[4]}})</h3>
        <h6>YTD Points: {{header[6]}} | Current Price: {{header[7]}}</h6>
        <h6>Form: {{header[8]}} | ITC: {{header[5]}}</h6>
      {% endfor %}

      <h4>Owned By</h4>
      <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
          <thead class="thead-light text-center">
            <td class="align-middle">Name</td>
            <td class="align-middle">Points</td>
            <td class="align-middle">Rank</td>
          </thead>
          <tbody class="text-center align-middle">
            {% for owner in owners %}
            <tr>
              <td class="align-middle">{{owner[2]}}</td>
              <td class="align-middle">{{owner[3]}}</td>
              <td class="align-middle">{{owner[4]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <h4>Previous Fixtures</h4>
      <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
          <thead class="thead-light text-center">
            <td class="align-middle">Round</td>
            <td class="align-middle">Score</td>
            <td class="align-middle">Date</td>
            <td class="align-middle">Opp</td>
            <td class="align-middle">Mins</td>
            <td class="align-middle">G</td>
            <td class="align-middle">A</td>
            <td class="align-middle">CS</td>
            <td class="align-middle">GC</td>
            <td class="align-middle">OG</td>
            <td class="align-middle">PS</td>
            <td class="align-middle">PM</td>
            <td class="align-middle">YC</td>
            <td class="align-middle">RC</td>
            <td class="align-middle">SV</td>
            <td class="align-middle">Bonus</td>
            <td class="align-middle">BPS</td>
            <td class="align-middle">Value</td>
            <td class="align-middle">Transfer (Net)</td>
            <td class="align-middle">Selected By</td>
          </thead>
          <tbody class="text-center align-middle">
            {% for player in players %}
            <tr>
              <td class="align-middle">{{player[2]}}</td>
              <td class="align-middle">{{player[3]}}</td>
              <td class="align-middle">{{player[4]}}</td>
              <td class="align-middle">{{player[5]}} ({{player[6]}}) {{player[7]}}-{{player[8]}}</td>
              <td class="align-middle">{{player[9]}}</td>
              <td class="align-middle">{{player[10]}}</td>
              <td class="align-middle">{{player[11]}}</td>
              <td class="align-middle">{{player[12]}}</td>
              <td class="align-middle">{{player[13]}}</td>
              <td class="align-middle">{{player[14]}}</td>
              <td class="align-middle">{{player[15]}}</td>
              <td class="align-middle">{{player[16]}}</td>
              <td class="align-middle">{{player[17]}}</td>
              <td class="align-middle">{{player[18]}}</td>
              <td class="align-middle">{{player[19]}}</td>
              <td class="align-middle">{{player[20]}}</td>
              <td class="align-middle">{{player[21]}}</td>
              <td class="align-middle">{{player[22]}}</td>
              <td class="align-middle">{{player[23]}}</td>
              <td class="align-middle">{{player[24]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a href="/live" class="btn btn-outline-dark btn-small mx-1" role="button"  aria-disabled="true">Live Scores</a>
          <a href="/elli" class="btn btn-outline-dark btn-small mx-1" role="button"  aria-disabled="true">Leaderboard</a>
          <br><br>
        </div>
      </div>
    </div>

  </body>
</html>
