<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style2.css">
    <title>No Trophy Home</title>
  </head>
  <body id=tfox>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Not Everyone Gets A Trophy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/lms">Last Man Standing</a>
          <a class="nav-item nav-link" href="/cups">Cup Competitions</a>
          <a class="nav-item nav-link" href="/lcs">Last Chance Saloon</a>
        </div>
      </div>
    </nav>
    <div class="container" >
      <h2>Week 31+ Update</h2>

      <p class="col-lg-12 col-sm-12">Hi All,</p>
      <p class="col-lg-12 col-sm-12">GW31+ is over and yet another quick turnaround before the GW32+ deadline at 5.30AM CST / 11.30AM BST on Saturday.</p>
      <p class="col-lg-12 col-sm-12">Congrats to Forrest for this week's Manager of the Week - a huge score of 98, even after captaining Vardy.</p>
      <p class="col-lg-12 col-sm-12">Congrats to the winners in the European cups - 8 teams are through to the semi finals of the CL and EL, results and fixtures below.</p>
      <p class="col-lg-12 col-sm-12">Good luck in the semi finals to those taking part and good luck all next gameweek!</p>
      <p class="col-lg-12 col-sm-12">Reminder that the Last Chance Saloon (LCS) competition kicks off on GW35+.  Details are in the attached, league position at the end of GW34+ will determine qualification to the two different tiers of the competition.</p>
      <p class="col-lg-12 col-sm-12">Stay safe everyone and congrats to the Liverpool fans</p>
      <p class="col-lg-12 col-sm-12">DLC</p>
      <img src="/static/scoreboard.png" alt="Week 30+" class="col-lg-12 col-sm-12">
    </div>
    <div class="container" >
      <h2>Resources</h2>
      <ul>
        <li class="col-lg-12 col-sm-12"><a href="https://fantasy.premierleague.com/leagues/61855/standings/c">Our FPL Page</a></li>
        <li class="col-lg-12 col-sm-12"><a href="https://docs.google.com/spreadsheets/d/1oHYwNAD3DprzYf_WpgyUWx1eyl27rIqfQ6XUrGP6BJg/edit?usp=sharing">Tom's (Work in Progress) Live Scoring</a></li>
      </ul>

    </div>

  </body>
</html>
