<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Last Chance Saloon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Not Everyone Gets A Trophy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/lms">Last Man Standing</a>
          <a class="nav-item nav-link" href="/cups">Cup Competitions</a>
          <a class="nav-item nav-link active" href="/lcs">Last Chance Saloon<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/live">Live Scores</a>
        </div>
      </div>
    </nav>
    <div class="container" >

      <h2>Last Chance Saloon</h2>
      <p class="col-lg-12 col-sm-12"><iframe src="https://docs.google.com/spreadsheets/d/1oHYwNAD3DprzYf_WpgyUWx1eyl27rIqfQ6XUrGP6BJg/htmlembed/sheet?gid=1612656795&range=B2:U12" width=1100px height="180px" frameborder="0" marginheight="0" marginwidth="0"> </iframe></p>
      <p class="col-lg-12 col-sm-12">
        <ul>
            <li>Runs from GW35 to GW38</li>
            <li>Bottom 12 in the league as at end of GW34 qualify for Tier 2 Last Chance Saloon (LCS) knockout</li>
            <li>League positions 15th-18th as at end of GW 34 get a bye to the second round of Tier 2 knockout</li>
            <li>All other teams in the league that are 75 points or more behind the league leader will qualify for the Tier 1 LCS knockout</li>
            <li>The number of teams that qualify for Tier 1 LCS will determine the number of teams that get a bye to the second round but byes will be given to the highest ranked teams as at end of GW34</li>
            <li>Each round is played over 1 GW only</li>
            <li>The team with the highest FPL score in each round will advance</li>
            <li>In the event of a tie in the knockout rounds, team(s) eliminated will be determined by</li>
              <ol start="1">
                <li>Lowest scoring captain will be eliminated</li>
                <li>Lowest scoring vice captain will be eliminated</li>
                <li>Highest league position as at that point in time will be eliminated</li>
              </ol>
            <li>Use of any chip in any week is allowed in LCS and is recommended as a strategy if that is your goal</li>
          </ul>
        </p>

      <p class="col-lg-12 col-sm-12">Draw:  Seedings will be driven by league position at the end of GW34 with the higher league position resulting in a higher seed.</p>
      <p class="col-lg-12 col-sm-12">Example: For Tier 2 LCS, 15th place will be Seed 1, 16th = Seed 2, 17th = Seed 3 etc.</p>
      <p class="col-lg-12 col-sm-12">Bracket for Tier 2 LCS is on the following page.  Tier 1 LCS will follow the exact same bracket but be adjusted for number of entrants that qualify (given it is not a set number).</p>
      <p class="col-lg-12 col-sm-12"><img src="/static/lcs_1.png" class="col-lg-12 col-sm-12"></p>
      <p class="col-lg-12 col-sm-12"><img src="/static/lcs_2.png" class="col-lg-12 col-sm-12"></p>

    </div>
  </body>
</html>
