<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Live Scores</title>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="600">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/static/sorttable.js" type="text/javascript"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Not Everyone Gets A Trophy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link active" href="/live">Live Scores<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/hof">HOF</a>
          <a class="nav-item nav-link" href="/lms">LMS</a>
        </div>
      </div>
    </nav>
    <div class="container mt-2" >
      <h2>Live Scores</h2>
      <h6>Updated {{time[0]}} </h6>
        <p class="col-lg-12 col-sm-12">
          <div class="table-responsive text-nowrap">
            <table class="table table-sm text-xsmall table-hover sortable ;" >
              <thead class="thead-light text-center align-middle">
                <td class="align-middle">Rk (Chg)</td>
                <td class="align-middle">Team (Chip)</td>
                <td class="align-middle"><div data-toggle="tooltip" data-placement="top" title="This Week's Points">Pts (W)</div></td>
                <td class="align-middle">Pts (T)</td>
                <td class="align-middle">GP</td>
                <td class="align-middle">Captain</td>
                <td class="align-middle">Vice</td>
              </thead>
              <tbody class="text-center align-middle">
                {% for element in elements %}
                  <tr>
                    <td class="align-middle">{{element[13]}} ({{element[18]}})</td>
                    <td class="align-middle"><a href="/teams/{{element[1]}}" class="text-dark">{{element[17]}}</a></td>
                    <td class="align-middle">{{element[4]}}</td>
                    <td class="align-middle">{{element[11]}}</td>
                    <td class="align-middle">{{element[6]}}</td>
                    <td class="align-middle">{{element[7]}}</td>
                    <td class="align-middle">{{element[8]}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </p>
      </div>
    </div>

    <div class="container mt-2" >
      <h2>LMS Tracker</h2>
      <h6>Bottom two will be dropped. See more <a href="/lms">here</a></h6>
      <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
          <thead class="thead-light text-center align-middle">
            <td class="align-middle">Team</td>
            <td class="align-middle"><div data-toggle="tooltip" data-placement="top" title="This Week's Points">Pts (W)</div></td>
            <td class="align-middle">Pts (T)</td>
            <td class="align-middle">GP</td>
            <td class="align-middle">Captain</td>
            <td class="align-middle">Vice</td>
          </thead>
          <tbody class="text-center align-middle">
            {% for bottom in bottoms %}
            <tr>
            <td class="align-middle"><a href="/teams/{{bottom[1]}}" class="text-dark">{{bottom[2]}}</a></td>
            <td class="align-middle">{{bottom[4]}}</td>
            <td class="align-middle">{{bottom[11]}}</td>
            <td class="align-middle">{{bottom[6]}}</td>
            <td class="align-middle">{{bottom[7]}}</td>
            <td class="align-middle">{{bottom[8]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="container mt-2" >
      <h2>EPL Scores</h2>
      <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
          <thead class="thead-light text-center align-middle">
            <td class="align-middle">Home</td>
            <td class="align-middle">Home Score</td>
            <td class="align-middle">Away Score</td>
            <td class="align-middle">Away</td>
            <td class="align-middle">Minutes</td>
          </thead>
          <tbody class="text-center align-middle">
            {% for epl in epls %}
            <tr>
              <td class="align-middle">{{epl[7]}}</td>
              <td class="align-middle">{{epl[8]}}</td>
              <td class="align-middle">{{epl[6]}}</td>
              <td class="align-middle">{{epl[5]}}</td>
              <td class="align-middle">{{epl[10]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="container mt-2" >
      <h2>The Scoresheet</h2>
      <div class="table-responsive">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
          <thead class="thead-light text-center align-middle">
            <td class="align-middle">Player</td>
            <td class="align-middle">Team</td>
            <td class="align-middle">Goals</td>
            <td class="align-middle">Assits</td>
            <td class="align-middle">Owners</td>
          </thead>
          <tbody class="text-center align-middle">
            {% for ss in sss %}
            <tr>
              <td class="align-middle">{{ss[1]}}</td>
              <td class="align-middle">{{ss[3]}}</td>
              <td class="align-middle">{{ss[4]}}</td>
              <td class="align-middle">{{ss[5]}}</td>
              <td class="align-middle">{{ss[6]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>
