{% extends "base.html" %}

{% block title %}Team Picker{% endblock %}

{% block content %}

<div class="container mt-2">
    <h2>{{owner_name}}</h2>
</div>


<div class="container mt-2">
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            <thead class="thead-light text-center">
            <td class="align-middle">Player</td>
            <td class="align-middle">POS</td>
            <td class="align-middle">Team</td>
            <td class="align-middle">Cost</td>
            <td class="align-middle">Status</td>
        </thead>
            <tbody class="text-center align-middle">
            {% for player in team %}
                {% if player[0] == fbb_user %}
                        <tr style ="  background-color: #08ff87;">
                            {% for td in player %}
                                <td class="align-left">{{ td }}</td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            {% for td in player[1:] %}
                                <td class="align-left">{{ td }}</td>
                            {% endfor %}
                            <td><a href="/{{owner}}/drop/{{player[0]}}">Drop From Team</a></td>
                        </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<div class="container mt-2">
    <div class="table-responsive text-nowrap">
        <table class="table table-sm text-xsmall table-hover sortable ;" >
            <thead class="thead-light text-center">
            <td class="align-middle">Player</td>
            <td class="align-middle">POS</td>
            <td class="align-middle">Team</td>
            <td class="align-middle">Cost</td>
            <td class="align-middle">Status</td>
        </thead>
            <tbody class="text-center align-middle">
            {% for player in free_agents %}
                {% if player[0] == fbb_user %}
                        <tr style ="  background-color: #08ff87;">
                            {% for td in player %}
                                <td class="align-left">{{ td }}</td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            {% for td in player[1:] %}
                                <td class="align-left">{{ td }}</td>
                            {% endfor %}
                            <td><a href="/{{owner}}/add/{{player[0]}}">Add to team</a></td>
                        </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}
