{% extends "z3_base.html" %}

{% block title %}
    {% for own2 in owner2 %}
        {{own2[4]}}
    {% endfor %}
{% endblock %}

{% block content %}
    
    <div class="container mt-2">
        <h3>Free Agents - {{page_type}}</h3>
        {% for updated in time %}
            <h6><i>Updated: {{updated[58]}}</i> </h6>
            <h6>Logged in as: {{fbb_user}} </h6>
        {% endfor %}
    </div>

    <div class="container mt-2">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <a href="/fbb/free_agents/7">Last 7</a>
          </div>
          <div class="col-md-auto">
            <a href="/fbb/free_agents/14">Last 14</a>
          </div>
          <div class="col-md-auto">
            <a href="/fbb/free_agents/28">Last 28</a>
          </div>
          <div class="col-md-auto">
            <a href="/fbb/free_agents/99">2021</a>
          </div>
        </div>
      </div>

    <div class="container mt-2">
        <h5>Batters</h5>
        <div class="table-fixed text-nowrap">
            <table class="table table-sm text-xsmall table-hover sortable ;" >
                
                <thead class="thead-light text-center header-fixed">
                    <td class="align-middle">Player</td>
                    <td class="align-middle">PA</td>
                    <td class="align-middle">AB</td>
                    <td class="align-middle">H</td>
                    <td class="align-middle">1B</td>
                    <td class="align-middle">2B</td>
                    <td class="align-middle">3B</td>
                    <td class="align-middle">HR</td>
                    <td class="align-middle">TB</td>
                    <td class="align-middle">K</td>
                    <td class="align-middle">BB</td>
                    <td class="align-middle">IBB</td>
                    <td class="align-middle">HBP</td>
                    <td class="align-middle">R</td>
                    <td class="align-middle">RBI</td>
                    <td class="align-middle">SB</td>
                    <td class="align-middle">CS</td>
                    <td class="align-middle">AVG</td>
                    <td class="align-middle">OBP</td>
                    <td class="align-middle">SLG</td>
                    <td class="align-middle">OPS</td>
                </thead>
                <tbody class="text-center align-middle table-fixed">
                    {% for fa in fa_batters %}
                        <tr>
                            {% if fa[0] == fbb_user %}
                            <tr style ="  background-color: #08ff87;">
                                {% for td in fa %}
                                    <td class="align-left">{{ td }}</td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                {% for td in fa %}
                                    <td class="align-left">{{ td }}</td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
