{% extends "z3_base.html" %}

{% block title %}
    Lemont FBB
{% endblock %}

{% block content %}

       
    <div class="container mt-2"> 
        <br>
        <div class='row'><a href="fbb/login" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" role="button" aria-disabled="true">Login</a></div><br>
        <div class='row'><a href="#" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" role="button" aria-disabled="true">My Team</a></div><br>
        <div class='row'><a href="#" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" role="button" aria-disabled="true">Teams</a></div><br>
        <div class='row'><a href="/fbb/leaderboard" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" role="button" aria-disabled="true">Batting</a></div><br>
        <div class='row'><a href="#" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" role="button" aria-disabled="true">Pitching</a></div><br>
        <div class='row'><a href="/fbb/free_agents/99" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" role="button" aria-disabled="true">Free Agents</a></div><br>
        <div class='row'><a href="https://fantasy.espn.com/baseball/team?leagueId=125731&teamId=1&seasonId=2021" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" role="button" aria-disabled="true" target="_blank">Our League</a></div><br>
    </div>

{% endblock %}
