{% extends "z3_base.html" %}

{% block title %}
    Lemont FBB
{% endblock %}

{% block content %}

    <div class="container mt-2">
        <h1>
            <ul>
                <li><a href="fbb/login">Log In</a></li>
                <li><a href="#">My Team</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="/fbb/leaderboard">Batting</a></li>
                <li><a href="#">Pitching</a></li>
                <li><a href="/fbb/free_agents/99">Free Agents</a></li>
            </ul>
        </h1>
    </div>
{% endblock %}
