{% extends "z3_base.html" %}

{% block title %}
    {% for own2 in owner2 %}
        {{own2[4]}}
    {% endfor %}
{% endblock %}

{% block content %}
    
    <div class="container mt-2">
        <h3>Leaderboard</h3>
        {% for updated in time %}
            <h6><i>Updated: {{updated[58]}}</i> </h6>
            <h6>Logged in as: {{fbb_user}} </h6>
        {% endfor %}
    </div>

    <div class="container mt-2">
        <h5>Offense Summary</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm text-xsmall table-hover sortable ;" >
                
                <thead class="thead-light text-center">
                    <td class="align-middle">Owner</td>
                    <td class="align-middle">PA</td>
                    <td class="align-middle">AB</td>
                    <td class="align-middle">H</td>
                    <td class="align-middle">1B</td>
                    <td class="align-middle">2B</td>
                    <td class="align-middle">3B</td>
                    <td class="align-middle">HR</td>
                    <td class="align-middle">TB</td>
                    <td class="align-middle">K</td>
                    <td class="align-middle">BB</td>
                    <td class="align-middle">IBB</td>
                    <td class="align-middle">HBP</td>
                    <td class="align-middle">R</td>
                    <td class="align-middle">RBI</td>
                    <td class="align-middle">SB</td>
                    <td class="align-middle">CS</td>
                    <td class="align-middle">AVG</td>
                    <td class="align-middle">OBP</td>
                    <td class="align-middle">SLG</td>
                    <td class="align-middle">OPS</td>
                </thead>
                <tbody class="text-center align-middle">
                {% for t_hit in team_hitters %}
                    {% if t_hit[0] == fbb_user %}
                        <tr style ="  background-color: #08ff87;">
                            {% for td in t_hit %}
                                <td class="align-left">{{ td }}</td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            {% for td in t_hit %}
                                <td class="align-left">{{ td }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container mt-2">
        <h5>Today's Hitters</h5>
        <div class="table-fixed text-nowrap">
            <table class="table table-sm text-xsmall table-hover sortable ;" >
                
                <thead class="thead-light text-center header-fixed">
                    <td class="align-middle">Owner</td>
                    <td class="align-middle">Position</td>
                    <td class="align-middle">Player</td>
                    <td class="align-middle">Team</td>
                    <td class="align-middle">PA</td>
                    <td class="align-middle">AB</td>
                    <td class="align-middle">H</td>
                    <td class="align-middle">1B</td>
                    <td class="align-middle">2B</td>
                    <td class="align-middle">3B</td>
                    <td class="align-middle">HR</td>
                    <td class="align-middle">TB</td>
                    <td class="align-middle">K</td>
                    <td class="align-middle">BB</td>
                    <td class="align-middle">IBB</td>
                    <td class="align-middle">HBP</td>
                    <td class="align-middle">R</td>
                    <td class="align-middle">RBI</td>
                    <td class="align-middle">SB</td>
                    <td class="align-middle">CS</td>
                    <td class="align-middle">AVG</td>
                    <td class="align-middle">OBP</td>
                    <td class="align-middle">SLG</td>
                    <td class="align-middle">OPS</td>
                </thead>
                <tbody class="text-center align-middle table-fixed">
                    {% for hit in hitters %}
                        <tr>
                            {% if hit[0] == fbb_user %}
                            <tr style ="  background-color: #08ff87;">
                                {% for td in hit %}
                                    <td class="align-left">{{ td }}</td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                {% for td in hit %}
                                    <td class="align-left">{{ td }}</td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        </tr>
                    {% endfor %}

                    <tr style ="  background-color: rgba(55, 0, 60, 0.9); color: white;">
                        <td class="align-middle">Owner</td>
                        <td class="align-middle">Position</td>
                        <td class="align-middle">Player</td>
                        <td class="align-middle">Team</td>
                        <td class="align-middle">PA</td>
                        <td class="align-middle">AB</td>
                        <td class="align-middle">H</td>
                        <td class="align-middle">1B</td>
                        <td class="align-middle">2B</td>
                        <td class="align-middle">3B</td>
                        <td class="align-middle">HR</td>
                        <td class="align-middle">TB</td>
                        <td class="align-middle">K</td>
                        <td class="align-middle">BB</td>
                        <td class="align-middle">IBB</td>
                        <td class="align-middle">HBP</td>
                        <td class="align-middle">R</td>
                        <td class="align-middle">RBI</td>
                        <td class="align-middle">SB</td>
                        <td class="align-middle">CS</td>
                        <td class="align-middle">AVG</td>
                        <td class="align-middle">OBP</td>
                        <td class="align-middle">SLG</td>
                        <td class="align-middle">OPS</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
