{% extends "z3_base.html" %}

{% block title %}
    Power Rankings
{% endblock %}

{% block content %}
    
    <div class="container mt-2">
        <div class="row">
            <div class="col-6"><h3>Power Rankings</h3></div>
        </div>
    </div>

    <div class="container mt-2">
        <div class="table-responsive text-nowrap">
            <table class="table table-sm text-xsmall table-hover sortable ;" >
                
                <thead class="thead-light text-center">
                    <td class="align-middle">ID</td>
                    <td class="align-middle">Week</td>
                    <td class="align-middle">Owner</td>
                    <td class="align-middle">Opp</td>
                    <td class="align-middle">Res</td>
                    <td class="align-middle">Lg Rec</td>
                    <td class="align-middle">PR Score</td>
                    <td class="align-middle">PR Rec</td>
                    <td class="align-middle">Luck</td>
                    <td class="align-middle">PR Score Tot</td>
                    <td class="align-middle">PR Rank</td>
                </thead>
                <tbody class="text-center align-middle">
                {% for rank in pRanks %}
                    {% if rank[0] == rank %}
                        <tr style ="  background-color: #08ff87;">
                            {% for td in rank %}
                                <td class="align-left">{{ td }}</td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            {% for td in rank %}
                                <td class="align-left">{{ td }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
