{% extends "z3_base.html" %}

{% block title %}
    {% for own2 in owner2 %}
        {{own2[4]}}
    {% endfor %}
{% endblock %}

{% block content %}
    {% for own1 in owner1 %}
        <div class="container mt-2">
            <h3>{{own1[4]}}</h3>
            <h4>{{own1[3]}}</h4>
        </div>
    {% endfor %}

    <div class="container mt-2">
        {% for updated in time %}
            <h6>Updated: {{updated[58]}} </h6>
        {% endfor %}
    </div>
    
    <div class="container mt-2">
        <h5>Hitters</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm text-xsmall table-hover sortable ;" >
                
                <thead class="thead-light text-center">
                    <td class="align-middle">Position</td>
                    <td class="align-middle">Player</td>
                    <td class="align-middle">Team</td>
                    <td class="align-middle">PA</td>
                    <td class="align-middle">AB</td>
                    <td class="align-middle">H</td>
                    <td class="align-middle">1B</td>
                    <td class="align-middle">2B</td>
                    <td class="align-middle">3B</td>
                    <td class="align-middle">HR</td>
                    <td class="align-middle">TB</td>
                    <td class="align-middle">K</td>
                    <td class="align-middle">BB</td>
                    <td class="align-middle">IBB</td>
                    <td class="align-middle">HBP</td>
                    <td class="align-middle">R</td>
                    <td class="align-middle">RBI</td>
                    <td class="align-middle">SB</td>
                    <td class="align-middle">CS</td>
                    <td class="align-middle">AVG</td>
                    <td class="align-middle">OBP</td>
                    <td class="align-middle">SLG</td>
                    <td class="align-middle">OPS</td>
                </thead>
                <tbody class="text-center align-middle">
                    {% for hit in hitters %}
                        <tr>
                            <td class="align-middle">{{hit[56]}}</td>
                            <td class="align-middle">{{hit[6]}}</td>
                            <td class="align-middle">{{hit[55]}}</td>
                            <td class="align-middle">{{hit[21]}}</td>
                            <td class="align-middle">{{hit[8]}}</td>
                            <td class="align-middle">{{hit[9]}}</td>
                            <td class="align-middle">{{hit[15]}}</td>
                            <td class="align-middle">{{hit[11]}}</td>
                            <td class="align-middle">{{hit[12]}}</td>
                            <td class="align-middle">{{hit[13]}}</td>
                            <td class="align-middle">{{hit[16]}}</td>
                            <td class="align-middle">{{hit[28]}}</td>
                            <td class="align-middle">{{hit[18]}}</td>
                            <td class="align-middle">{{hit[19]}}</td>
                            <td class="align-middle">{{hit[20]}}</td>
                            <td class="align-middle">{{hit[24]}}</td>
                            <td class="align-middle">{{hit[25]}}</td>
                            <td class="align-middle">{{hit[26]}}</td>
                            <td class="align-middle">{{hit[27]}}</td>
                            <td class="align-middle">{{hit[10]}}</td>
                            <td class="align-middle">{{hit[22]}}</td>
                            <td class="align-middle">{{hit[17]}}</td>
                            <td class="align-middle">{{hit[23]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container mt-2">
        <h5>Pitchers</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm text-xsmall table-hover sortable ;" >
                
                <thead class="thead-light text-center">
                    <td class="align-middle">Position</td>
                    <td class="align-middle">Player</td>
                    <td class="align-middle">Team</td>
                    <td class="align-middle">G</td>
                    <td class="align-middle">GS</td>
                    <td class="align-middle">OUTS</td>
                    <td class="align-middle">BF</td>
                    <td class="align-middle">PC</td>
                    <td class="align-middle">H</td>
                    <td class="align-middle">BB</td>
                    <td class="align-middle">SO</td>
                    <td class="align-middle">R</td>
                    <td class="align-middle">ER</td>
                    <td class="align-middle">HR</td>
                    <td class="align-middle">W</td>
                    <td class="align-middle">L</td>
                    <td class="align-middle">QS</td>
                    <td class="align-middle">HD</td>
                    <td class="align-middle">SVOPP</td>
                    <td class="align-middle">SV</td>
                    <td class="align-middle">BS</td>
                    <td class="align-middle">Kp9</td>
                    <td class="align-middle">BAA</td>
                    <td class="align-middle">WHIP</td>
                    <td class="align-middle">OBPA</td>
                    <td class="align-middle">ERA</td>
                </thead>
                <tbody class="text-center align-middle">
                    {% for pit in pitchers %}
                        <tr>
                            <td class="align-middle">{{pit[56]}}</td>
                            <td class="align-middle">{{pit[6]}}</td>
                            <td class="align-middle">{{pit[55]}}</td>
                            <td class="align-middle">{{pit[31]}}</td>
                            <td class="align-middle">{{pit[32]}}</td>
                            <td class="align-middle">{{pit[33]}}</td>
                            <td class="align-middle">{{pit[34]}}</td>
                            <td class="align-middle">{{pit[35]}}</td>
                            <td class="align-middle">{{pit[36]}}</td>
                            <td class="align-middle">{{pit[38]}}</td>
                            <td class="align-middle">{{pit[45]}}</td>
                            <td class="align-middle">{{pit[42]}}</td>
                            <td class="align-middle">{{pit[41]}}</td>
                            <td class="align-middle">{{pit[43]}}</td>
                            <td class="align-middle">{{pit[47]}}</td>
                            <td class="align-middle">{{pit[48]}}</td>
                            <td class="align-middle">{{pit[53]}}</td>
                            <td class="align-middle">{{pit[52]}}</td>
                            <td class="align-middle">{{pit[49]}}</td>
                            <td class="align-middle">{{pit[50]}}</td>
                            <td class="align-middle">{{pit[51]}}</td>
                            <td class="align-middle">{{pit[46]}}</td>
                            <td class="align-middle">{{pit[37]}}</td>
                            <td class="align-middle">{{pit[39]}}</td>
                            <td class="align-middle">{{pit[40]}}</td>
                            <td class="align-middle">{{pit[44]}}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="container mt-2">
        <h5>Bench</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm text-xsmall table-hover sortable ;" >
                
                <thead class="thead-light text-center">
                    <td class="align-middle">Position</td>
                    <td class="align-middle">Player</td>
                    <td class="align-middle">Team</td>
                </thead>
                <tbody class="text-center align-middle">
                    {% for ben in bench %}
                        <tr>
                            <td class="align-middle">{{ben[56]}}</td>
                            <td class="align-middle">{{ben[6]}}</td>
                            <td class="align-middle">{{ben[55]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
